<!DOCTYPE html>
<html lang="en">
<head>
    <title>Using Public API capstone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <form action="/Dictionary" method="post">
            <input type="text" name="word" id="name" placeholder="Search a word or phrase">
            <button type="submit">Search</button>
        </form>

    </div>
</body>
</html>